nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #BC770F;
  height: 64px;
  /* padding-left: 2%; */

}

button {
  height: 3rem;
  background-color: #E2B618;


}

.dropdown {
  width: 80%;


}

.nav-button {

  text-align: center;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  padding: 0 1rem;
  /* height: 3rem; */

  margin: .5rem;

  min-width: 12rem;
}


body {
  background-color: #f3e6bd;
  /* text-align: center; */
  /* display: flex; */
  /* align-items: flex-start;
   */
  padding: 0 3% 0 3%;
  justify-content: center;


}

.canvas {
  margin: 0;
  position: absolute;
  left: 7.5%;


}

h1 {
  padding: 1% 2% 1% 2%
    /* text-align: center; */

}

hr {
  margin: 2rem;
  color: #BC770F;
}

.list-img-run {
  display: flex;
  flex-wrap: wrap
}

.list-run {
  display: flex;
  flex-direction: column;
  padding-left: 2rem
}

.lb-container {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.leaderboard-table {
  border: 1px solid rgb(12, 12, 12);
  padding: 1rem;

}

.leaderboard-head {
  width: 5rem;

}


.leaderboard-cell {
  width: 24%;
  border: 3px solid #BC770F;
  padding: .7rem;
  text-align: center;
  background-color: #ada997;
  margin: 0.5rem;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 200;
}

.ld-first {
  background-color: #d4af37;


}

.ld-second {
  background-color: #c0c0c0;


}

.ld-third {
  background-color: #cd7f32;

}





.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-displayer {





  background-color: #E2B618;
  text-align: center;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  padding: 0.9rem;
  border: 2px solid rgb(255, 255, 255);


}