nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #BC770F;
  height: 64px;
  /* padding-left: 2%; */

}

h2 {
  font-weight: bold;
  font-size: small;
  text-align: center;
}


body {
  background-color: #f3e6bd;

}

h1 {
  padding: 1% 2% 1% 2%
    /* text-align: center; */

}

hr {
  margin: 2rem;
  color: #BC770F;
}

.canvas {
  margin: 0;
  /* position: absolute; */
  left: 7.5%;


}

.app {
  padding: 0 3% 0 3%;
  justify-content: center;
}

.app-header {
  margin: .5rem;
}

.list-img-run {
  display: flex;
  flex-wrap: wrap
}

.list-run {
  display: flex;
  flex-direction: column;
  padding-left: 2rem
}

.lb-container {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.leaderboard-table {
  border: 1px solid rgb(12, 12, 12);
  padding: 1rem;

}

.leaderboard-head {
  width: 5rem;

}


.leaderboard-cell {
  width: 24%;
  border: 3px solid #BC770F;
  padding: .7rem;
  text-align: center;
  background-color: #ada997;
  margin: 0.5rem;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 200;
}

.ld-first {
  background-color: #d4af37;


}

.ld-second {
  background-color: #c0c0c0;


}

.ld-third {
  background-color: #cd7f32;

}



.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-displayer {
  min-width: 170px;
  background-color: #E2B618;

  text-align: center;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  border: 2px solid rgb(255, 255, 255);


}

.loading-screen {

  align-self: center;
  text-align: center;
  font-weight: 500;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-size: larger;


}

.video-container {
  max-width: 854px;
  position: relative;

  padding-top: 480px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teaser-container {
  padding: 0;

  width: 80%;
  max-width: 854px;
}

.teaser {

  width: 100%,
}

.button {
  height: 3rem;
  background-color: #E2B618;

}

.dropdown {
  width: 80%;
  margin: 0;

}

.nav-element {
  text-align: center;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  height: 3rem;


  min-width: 12rem;


}


.nav-button {
  padding: 0 1rem;
  margin: .5rem;

}

.delete-map-button {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}

.delete-map-modale {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ada99777;
  display: flex;
}

.login-reg-box {
  background-color: rgba(115, 115, 131, 0.658);
  margin: auto;
  padding: 2rem 4rem;
  border: 2px solid rgba(42, 43, 39, 0.87);

}

.modale {
  margin: .5rem;

}

.hidden {
  display: none;
}