.list-img-run {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem
}

.list-run {
    display: flex;
    flex-direction: column;
    padding-left: 2rem
}




.hidden {
    display: none;
}

.text-center {
    text-align: center;
}