.video-container {
    cursor: pointer;
    max-width: 854px;
    position: relative;
    padding-top: 480px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teaser-container {
    padding: 0;
    width: 80%;
    max-width: 854px;
}

.teaser {
    width: 100%;
}

figure {
    margin: 0;

}

.custom-hr {
    border: none;
    border-top: 3px double #333;
    margin: 0;
    position: relative;
}


.teaser-legend {
    font-weight: bold;
    font-size: small;
    text-align: center;
}

.challenge-box {
    text-align: center;
}

.lazer-hr {
    scale : 0.5;
    transform: rotate(45deg);
    margin: 0 .5rem 0 .5rem ;

}

/*    animation     */
.hr-sprite {
    width: 3rem;
    height: 3rem;
    position: relative;
    top: -1.5rem;
    left: 10%;
    transform: translate(-3rem, 0);
}


.box-hr {
    transition: 0.7s ease-in-out;
    display : flex;
    flex-direction: column;
    justify-content: center
}

.hr-sprite {
    transition: transform 1s;
}

.box-hr:hover .blue {
    transition: 0.8s;
    background-color: rgb(197, 205, 233);
    scale: 1.2;
}

.box-hr:hover .red {
    transition: 0.8s;
    background-color: rgb(233, 199, 197);
    scale: 1.2;
}
.box-hr:hover .green {
    transition: 0.8s;
    background-color: rgb(198, 233, 197);
    scale: 1.2;
}


.box-hr:hover .hr-sprite {
    transform: translate(calc(var(--parent-width) * 0.8), 0);
}